/*
 Theme Name: Polres Kediri
 Theme URI: http://www.polreskedirinews.com
 Description: This is the official template of Polres Kediri website
 Author: Taufik Fredi Pratama
 Author URI: http://taufikfredipratama.info
 Version: 1.0
 */

/*============================================================================================
 *  Global Styles
 ===========================================================================================*/

body {
	background: #e5e3e3;
	font-size: 16px;
	line-height: 1.6em;
}

a, .comment-form .form-submit .submit, form.my-form input[type=submit], form#searchform input[type=submit] {
	-o-transition: .7s;
	-ms-transition: .7s;
	-moz-transition: .7s;
	-webkit-transition: .7s;
	transition: .7s;
}

a:hover {
	text-decoration: none;
}

.full-divider {
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid;
}

/*============================================================================================
 *  Color Theme
 ===========================================================================================*/
#top-nav, .slider-link, #sidebar, .comment-form .form-submit .submit, .category-list span {
	background: #f7a81e;
}

.content-wrapper, .post-content-wrapper {
	background: #ffffff;
}

a, .subcontent-title span, div.post-data a, .tribrata-title span {
	color: #f7a81e;
}

a:hover {
	color: #f7a81e;
	text-decoration: underline;
}

body, .post-article a, .post-related-article li a, #tribrata-news div.tribrata-item a, .list-archive .post-title {
	color: #525252;
}

.full-divider {
	border-color: #DBDBDB;
}

#sidebar, #sidebar a {
	color: #000000;
}

/*============================================================================================
 *  Typography
 ===========================================================================================*/
body, .nivo-caption p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}

nav.navbar-custom {
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

/*============================================================================================
 *  Header Styles
 ===========================================================================================*/

/* Top Navbar section */
#top-nav {
	color: #000000;
	font-size: 12px;
}

.search-icon {
	background: transparent;
	border: none;
	padding: 10px 15px;
	color: #000000;
}

.search-icon:hover, .search-icon:visited {
	color: #000000;
}

.search-form-wrapper {
	background: #1e1e1e;
	width: 100%:
}

.search-form {
	padding: 30px 0;
}

.search-form i {
	top: 5px;
}

.search-form input {
	padding: 10px 15px;
	border: none;
}

.search-form input[type=text] {
	width:89.5%;
}

.search-form input[type=submit] {
	width:10%;
}

.socmed-top-nav {
	padding: 10px;
}

.socmed-top-nav img {
	width: 20px;
}

.hvr-bounce-to-bottom:before {
	background: #ffffff;
}

/* Header Row Style */
#header {
	margin: 20px 0;
}

#tribrata-news div.tribrata-item {
	margin-right: 15px;
}

#tribrata-news div.tribrata-item img {
	width: 70px;
	height: 70px;
	margin-right: 15px;
}

#tribrata-news div.tribrata-item span.tribrata-item-title {
	font-size: 12px;
	text-transform:capitalize;
	line-height: 1em;
}

.slick-prev {
	left: -45px;
}

.slick-list {
	left: -15px;
}

.slick-next {
	right: 0;
}

.tribrata-title {
	margin: 0 0 10px -40px;
	padding: 0;
}

/* Navbar style */
nav.navbar-custom {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
	background: #1e1e1e;
}

nav.navbar-custom .navbar-nav {
	padding: 0;
}

nav.navbar-custom .navbar-nav li a:visited {
	background: #1e1e1e;
}

nav.navbar-custom .navbar-nav li a {
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	color: #ffffff;
}

nav.navbar-custom .navbar-nav li a:hover, nav.navbar-custom .navbar-nav .dropdown-menu li a:hover {
	background: transparent;
	color: #f7a81e;
}

nav.navbar-custom .navbar-nav li a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #f7a81e;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

nav.navbar-custom .navbar-nav li a:hover:before, nav.navbar-custom .navbar-nav li a:focus:before, nav.navbar-custom .navbar-nav li a:active:before {
	left: 0;
	right: 0;
}

nav.navbar-custom .navbar-nav .dropdown-menu {
	box-shadow: none;
}

nav.navbar-custom .navbar-nav .dropdown-menu li a {
	padding: 5px 15px;
	font-size: 14px;
	color: #000000;
	width: 100%;
}

/*============================================================================================
 *  Contents Styles
 ===========================================================================================*/

/* Home content styles */
.post-title {
	text-transform: capitalize;
}

.post-data {
	font-size: 12px;
}

i.post-time {
	font-size: 11px;
	color: #A8A8A8;
}

.post-article {
	margin-bottom: 10px;
}

.post-related-article ul {
	margin: 0;
}

.post-related-article li:first-child {
	border-top: 1px solid #bfbfbf;
}

.post-related-article li {
	border-bottom: 1px solid #bfbfbf;
	padding: 10px 0;
	font-size: 14px;
}

.post-related-article li a:hover {
	text-decoration: underline;
}

.more-link {
	margin: 10px 0;
	font-size: 14px;
}

.post-content-wrapper {
	margin: -150px 0 0;
}

.post-content-wrapper img {
	max-width: 100%;
	height: auto;
}

/* Single Post Style */
.featured-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

/* Archive Style */
.list-archive {
	margin-bottom: 30px;
	border-bottom: 1px solid #DBDBDB;
	padding-bottom: 30px;
}

.list-archive:first-child {
	margin-top: 30px;
}

.list-archive:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.category-list {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 3px;
}

.category-list span {
	margin-left: 5px;
	padding: 5px 15px;
	color: #000000;
}

.category-list span:first-child {
	margin-left: 0;
}

/* Sidebar Style */
#sidebar {
	font-size: 14px;
	height: 100%;
}

#sidebar ul {
	padding-left: 20px;
}

#sidebar ul li {
	list-style: none;
	margin: 10px 0;
	padding-left: 25px;
}

#sidebar ul li:before {
	content: "\f00c";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -23px;
	width: 20px;
}

/* Comments Style */
.comments-title {
	font-size: 28px;
	margin-top: 0;
	padding-top: 0;
}

.comment-form label, .comment-form textarea, .comment-form input[type=text] {
	width: 100%;
}

.comment-form textarea, .comment-form input[type=text] {
	padding: 5px;
	border: 1px solid #bfbfbf;
}

.comment-form .form-submit .submit {
	font-size: 12px;
	padding: 10px 25px;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #000000;
	margin-top: 10px;
}

.comment-form textarea, .comment-form input[type=text], .comment-form .form-submit .submit {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.comment-form .comment-form-url {
	display: none;
}

.commentlist {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

.commentlist article.comment {
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 20px;
}

.commentlist .vcard img.avatar {
	width: 50px;
	height: 50px;
	float: left;
}

.commentlist .vcard cite.fn, .commentlist .commentmetadata a {
	margin-left: 20px;
}

.commentlist .vcard cite.fn {
	text-transform: capitalize;
	font-size: 16px;
	font-style: normal;
}

.commentlist .vcard span.says {
	display: none;
}

.commentlist .comment-content {
	margin: 20px 0 0;
	padding: 1px;
}

.commentlist .reply {
	width: 100%;
	text-align: right;
}

.commentlist .children {
	list-style: none;
}

/* Search in Content section style */
.content .search-form {
	width: 100%;
	text-align: center;
}

.content .search-form input[type=search] {
	border-bottom: 1px solid #000000;
}

/*============================================================================================
 *  Footer Styles
 ===========================================================================================*/
#footer {
	padding: 20px 0;
	background: #1e1e1e;
	color: #ffffff;
}

#footer p {
	margin: 0;
	padding: 0;
}


/*============================================================================================
 *  Responsive Styles
 ===========================================================================================*/
/* Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
	
	.slick-prev {
		left: 0;
	}
	
	.slick-list {
		left: 25px;
	}

	.tribrata-title {
		margin: 0 0 10px 0;
		padding: 0;
	}
	
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {
	
	.search-form input[type=text] {
		width:80%;
	}
	
	.search-form input[type=submit] {
		width:19.5%;
	}
	
	.slick-prev {
		left: 0;
	}
	
	.slick-list {
		left: 25px;
	}

	.tribrata-title {
		margin: 0 0 10px 0;
		padding: 0;
	}
	
	#tribrata-news {
		padding-right: 25px;
		max-height: 70px;
		overflow: hidden;
	}
 	
}

/* Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
	
	.search-form input[type=text] {
		width:80%;
	}
	
	.search-form input[type=submit] {
		width:19.3%;
	}
	
	.logo {
		text-align:center;
		margin-bottom: 20px;
	}
	
	.slick-prev {
		left: 0;
	}
	
	.slick-list {
		left: 25px;
	}

	.tribrata-title {
		margin: 0 0 10px 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	
	#tribrata-news {
		padding-right: 25px;
	}
	
	#tribrata-news {
		padding-right: 25px;
		max-height: 70px;
		overflow: hidden;
	}
	
	nav.navbar-custom .navbar-nav {
		padding-left: 30px;
	}
	
	nav.navbar-custom .navbar-nav .dropdown-menu li a {
		color: #ffffff;
	}
	
}

/* Extra Small Devices */
@media only screen and (max-width: 480px){
	
	.search-form input[type=text] {
		width:100%;
	}
	
	.search-form input[type=submit] {
		display:none;
	}
	
	.logo {
		text-align:center;
		margin-bottom: 20px;
	}
	
	.slick-prev {
		left: 0;
	}
	
	.slick-list {
		left: 25px;
	}

	.tribrata-title {
		margin: 0 0 10px 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	
	#tribrata-news {
		padding-right: 25px;
	}
	
	#tribrata-news {
		padding-right: 25px;
		max-height: 70px;
		overflow: hidden;
	}
	
	nav.navbar-custom .navbar-nav {
		padding-left: 30px;
	}
	
	nav.navbar-custom .navbar-nav .dropdown-menu li a {
		color: #ffffff;
	}
	
}
