/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * This is my custom styles for Nivo Slider
 */

/* Slider style */
.nivoSlider {
	max-height: 400px;
	overflow: hidden;
	background-color: #1e1e1e;
}

.widget-area .nivoSlider {
	max-height: 200px;
	overflow: hidden;
}

.nivo-caption {
	left: 60px;
	width: 600px;
	height: auto;
	bottom: 50px;
	padding: 0 20px 20px;
	overflow-y: hidden !important;
	opacity: 1;
	background: url('transparent-bg.png') transparent repeat;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.nivo-caption h3 {
	color: #fff;
	margin: 20px 0;
	padding-bottom: 0;
	text-transform: capitalize;
}

.nivo-caption p {
	padding: 0;
	overflow-y: hidden !important;
	margin-bottom: 30px;
}

.theme-default .nivo-caption .slider-link {
	font-size: 12px;
	padding: 10px 25px;
	border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #000000;
}

.theme-default .nivo-caption .slider-link:hover {
	color: #000000;
}

.theme-default .nivoSlider {
    margin-bottom:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/*============================================================================================
 *  Responsive Styles
 ===========================================================================================*/
/* Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
	
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {
	.nivoSlider {
		max-height: 300px;
		overflow: hidden;
	}

	.nivo-caption {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
	}
	
	.nivo-caption h3 {
		width: 85%;
	}

	.nivo-caption p {
		display: none;
	}
	
	.theme-default .nivo-caption .slider-link {
		padding: 5px 10px;
	    top: 20px;
	    right: 20px;
	    bottom: auto;
	    left: auto;
	    position: absolute;
	}
}

/* Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
	.nivoSlider {
		max-height: 250px;
		overflow: hidden;
	}

	.nivo-caption {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 45%;
	}
	
	.nivo-caption h3 {
		width: 85%;
		font-size: 18px;
	}

	.nivo-caption p {
		display: none;
	}
	
	.theme-default .nivo-caption .slider-link {
		padding: 5px 10px;
	    top: 20px;
	    right: 20px;
	    bottom: auto;
	    left: auto;
	    position: absolute;
	}
}

/* Extra Small Devices */
@media only screen and (max-width: 480px){
	.nivoSlider {
		max-height: 200px;
		overflow: hidden;
	}

	.nivo-caption {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
	}
	
	.nivo-caption h3 {
		width: 75%;
		margin: 10px 0;
		font-size: 14px;
	}

	.nivo-caption p {
		display: none;
	}
	
	.theme-default .nivo-caption .slider-link {
		padding: 5px 10px;
	    top: 10px;
	    right: 10px;
	    bottom: auto;
	    left: auto;
	    position: absolute;
	}
}
